<!--
  Generated template for the Booking page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ ('ONLINE_BOOKING' | translate) | uppercase }}</ion-title>
    <!--<ion-buttons>-->
      <!--<language-select></language-select>-->
    <!--</ion-buttons>-->
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item-group
    text-center
    inset
    class="booking-list">
    <button
      ion-item
      class="booking-item"
      [navPush]="employeesPage"
      [navParams]="1">
      {{ ('EMPLOYEE' | translate) | uppercase }}

      <p *ngIf="savedEmployee">{{ savedEmployee.firstname }} {{ savedEmployee.lastname }}</p>
      <ion-icon
        *ngIf="savedEmployee"
        (click)="removeSavedEmployee($event)"
        item-right
        ios="ios-close"
        md="md-close"></ion-icon>

    </button>
    <button
      ion-item
      class="booking-item"
      [navPush]="servicesPage">
      {{ ('SERVICE' | translate) | uppercase }}

      <p *ngIf="savedService">{{ savedService?.nameCategoty }} {{ savedService?.service?.name }}</p>
      <ion-icon
        *ngIf="savedService"
        (click)="removeSavedService($event)"
        item-right
        ios="ios-close"
        md="md-close"></ion-icon>

    </button>
    <button
      ion-item
      class="booking-item"
      [navPush]="timePage"
      [navParams]="1">
      {{ ('DATE_AND_TIME' | translate) | uppercase }}

      <p *ngIf="savedDate">{{ savedDate?.time }}</p>
      <ion-icon
        *ngIf="savedDate"
        (click)="removeSavedDate($event)"
        item-right
        ios="ios-close"
        md="md-close"></ion-icon>

    </button>
    <button
      class="submit-btn"
      (click)="makeVisit()"
      ion-button block disabled="{{(savedEmployee && savedService && savedDate) ? '' : 'disabled'}}">
      {{ ('MAKE_VISIT' | translate) | uppercase }}</button>
  </ion-item-group>
</ion-content>

<ion-footer>
  <ion-toolbar text-center>
    <p>{{ ('POWER_BY' | translate) | uppercase }} <a style="text-decoration: underline">SKYBOOKING</a></p>
  </ion-toolbar>
</ion-footer>
