page-home {

  .card-item {
    //height: 200px;
  }

  .map {
    width: 100%;
    height: 175px;
  }

  /**** google icon image ****/
  /*** termns of use ****/
 .gmnoprint {
    display: none !important;
  }
}
