page-home {

  .card-item {
    margin: 10px auto;
    max-width: 600px;
  }

  .map {
    width: 100%;
    height: 200px;
  }

  .icon-arrow {
    position: absolute;
    right: 15px;
    top: 32%;
    font-size: 1.5em;
  }
}
