page-employees {

  .employee-list{
    margin: 10px auto;
    max-width: 600px;
  }

  .employee-item {
    height: 80px;
  }

  .avatar {
    width: 50px !important;
    height: 50px !important;
  }

}
